<div class="row">
    <div class="col-md-10 mx-auto mt-4">
        <div class="card bg-dark">
            <div class="card-header">
                <h3 class="text-center">Completar Historia Clinica</h3>
            </div>
            <div class="card-body">
                <div class="row formulario">
                <form [formGroup]='formulario' (ngSubmit)='guardarHistoria()'>
                    <app-loading></app-loading>
                    <div class="form-group col-md-6 mb-6">
                        <label for="altura">Altura</label>
                        <input type="number"  formControlName="altura" class="form-control" >
                    </div>
                    <div class="form-group col-md-6 mb-6">
                        <label for="peso">Peso</label>
                        <input type="number" formControlName="peso" class="form-control" >
                    </div>

                    <div class="form-group col-md-6 mb-6">
                        <label for="temperatura">Temperatura</label>
                        <input type="number" formControlName="temperatura" class="form-control" >
                    </div>
                    <div class="form-group col-md-6 mb-6">
                        <label for="presion">Presion</label>
                        <input type="number" formControlName="presion" class="form-control" >
                    </div>

                    <div class="form-group col-md-6 mb-6">
                        <label for="key1">Titulo obligatorio 1</label>
                        <input type="text" formControlName="key1" class="form-control" >

                    </div>
                    <div class="form-group col-md-6 mb-6">
                        <label for="dato1">Contenido obligatorio 1</label>
                        <input type="text" formControlName="value1" class="form-control" >
                    </div>

                    <div class="form-group col-md-6 mb-6">
                        <label for="key2">Titulo obligatorio 2</label>
                        <input type="text" formControlName="key2" class="form-control" >
                    </div>
                    <div class="form-group col-md-6 mb-6">
                        <label for="dato2">Contenido obligatorio 2</label>
                        <input type="text" formControlName="value2" class="form-control" >
                    </div>


                    <div class="form-group col-md-6 mb-6">
                        <label for="key2">Titulo obligatorio 3</label>
                        <input type="text" formControlName="key3" class="form-control" >
                    </div>
                    <div class="form-group col-md-6 mb-6">
                        <label for="dato2">Contenido obligatorio 3</label>
                        <input type="text" formControlName="value3" class="form-control" >
                    </div>
 
                    <div class="d-grid gap-2 mx-auto">
                        <button class="btn btn-success" type="submit"  >CONTINUAR</button>
                        <button class="btn btn-danger" type="button" >CANCELAR</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>