<div class="row">
    <div class="col-md-10 mx-auto mt-4">
        <div class="card bg-dark">
            <div class="card-header bg-dark">
                <h3 class="text-center">Encuesta turno</h3>
            </div>
            <div class="card-body">
                <div class="row formulario">
                    <div class="col-md-6 mb-5 text-center">
                        <label class="text-center posicion" for="clasificacion">Puntuación de la
                            atención&nbsp;&nbsp;</label>
                        <div>
                            <p class="clasificacion">
                                <input id="radio1"  [(ngModel)]="clasificacion" type="radio" name="puntuacion" value="5" title="Excelente">
                                <label for="radio1" id="star" title="Excelente..">5 ★</label>
                                <input id="radio2"  [(ngModel)]="clasificacion" type="radio" name="puntuacion" value="4">
                                <label for="radio2" id="star">4 ★</label>
                                <input id="radio3"  [(ngModel)]="clasificacion" type="radio" name="puntuacion" value="3">
                                <label for="radio3" id="star">3 ★</label>
                                <input id="radio4"  [(ngModel)]="clasificacion" type="radio" name="puntuacion" value="2">
                                <label for="radio4" id="star">2 ★</label>
                                <input id="radio5"  [(ngModel)]="clasificacion" type="radio" name="puntuacion" value="1" checked>
                                <label for="radio5" id="star">1 ★</label>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5 text-center">
                        <label class="text-center posicion" for="volveria">¿Volveria a atenderse en nuestra
                            clinica?&nbsp;&nbsp;</label>
                        <div>
                            <p class="volveria">
                                <input type="radio" id="volveriaSI" name="volveria" value="SI" [(ngModel)]="volveria" checked>
                                <label for="volveriaSI" id="volveriaSI">SI</label>
                                <input type="radio" class="espacio" id="volveriaNO" [(ngModel)]="volveria" name="volveria" value="NO">
                                <label for="volveriaNO" id="volveriaNO">NO</label>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12 mb-5">
                        <label for="exampleTextarea" class="text-center">Ingrese su opinión o mejoras</label>
                        <textarea class="form-control tamanio" id="exampleTextarea" rows="3" maxlength="240"
                            [(ngModel)]="mensaje"></textarea>
                    </div>

                    <h6 [(ngModel)]="error" class="invalid mb-3 text-center" value="error" name="error" ngDefaultControl> <b>{{error }}</b></h6>
                    <div class="d-grid gap-2 mx-auto">
                        <button class="btn btn-success" type="button" (click)="Confirmar(true)">CONTINUAR</button>
                        <button class="btn btn-danger" type="button" (click)="Confirmar(false)">CANCELAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>