.imagen {
    background-image: url(../../../assets/homepage.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scaleX(-1);
}

.example-card {
    max-width: 400px;
    transform: scaleX(-1);
}