<div class="imagen">
    <div class="container-sm pt-3 ">

        <div class="d-flex">

            <mat-card class="example-card justify-content-end" >
                <mat-card-subtitle>Alumno: Sergio Cardozo</mat-card-subtitle>
                <mat-card-title>
                    <h1>¡Bienvenido a <strong> Clinica-UTN!</strong></h1>
                </mat-card-title>
                <mat-card-content>
                    <p>
                        <small>Si todavia no tenes cuenta registrate, caso contrario entra a disfrutar de tus
                            beneficios</small>
                    </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-flat-button class="m-2" color="warn" routerLink="/auth/login">Ingresar</button>
                    <button mat-flat-button color="warn" routerLink="/auth/seleccionarusuario">Registrate</button>
                </mat-card-actions>
                <mat-card-footer>
                </mat-card-footer>
            </mat-card>
        </div>

    </div>
</div>