<br><br><br><br><br>
<div class="container px-4 slide-top">
    <div class="row gx-5">
        <div class="container px-4">
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="row mt-2 text-center">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text" class="form-control"
                                        placeholder="Busqueda por especialidad o especialista..." name="filtro"
                                        [(ngModel)]="filtro">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Dia</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody *ngFor="let turno of turnos | filtroPaciente:filtro">
                    <tr class="table-dark" >
                        <th>{{turno.dia}} </th>
                        <td> {{turno.hora}} </td>
                        <td>{{turno.estado}}</td>
                        <td> {{turno.especialidad}}</td>
                        <td> {{turno.paciente }}</td>
                        <button class="btn btn-danger" *ngIf="turno.estado== 'Pendiente' "
                            (click)="rechazarTurno(turno, 'Rechazado')">Rechazar</button>
                        <button class="btn btn-success" *ngIf="turno.estado == 'Pendiente' "
                            (click)="aceptarTurno(turno, 'Aceptado')">Aceptar</button>
                        <button class="btn btn-danger" *ngIf="turno.estado== 'Aceptado' "
                            (click)="cancelarTurno(turno, 'Cancelado')">Cancelar</button>
                        <button class="btn btn-success" *ngIf="turno.estado == 'Aceptado' "
                            (click)="dejarResenia(turno)">Finalizar</button>
                        <button class="btn btn-success" *ngIf="turno.resenia != '' && turno.estado == 'Finalizado' "
                            (click)="verResenia(turno)">Ver reseña</button>
                    </tr>

                </tbody>
            </table>